<div class="container">
    <div>
        <label><strong>Name</strong></label>
    <input type="text" class="form-control " [(ngModel)]="firstname" /><p>value:{{firstname}}</p>
    </div>
    <div>
        <label><strong>Username</strong></label>
    <input type="text" class="form-control"  [(ngModel)]="firstname1"/><p>username:{{firstname1}}</p>
    </div>
    <div>
        <label><strong>Email</strong></label>
    <input type="email" class="form-control"  [(ngModel)]="email" /><p>email:{{email}}</p>
    </div>
   
    <button class="btn btn-success" (click)="gotoSave()">Save</button>
    <button class="btn btn-success ml-3" (click)="gotoCancel()" >Cancel</button>
    
</div>
