ul{
    list-style: none;
    text-align: center;
    margin:auto;
    
}

li{
    display: inline;
 }
 li:hover{
     background: red;
 }

a{
    text-decoration: none;
    margin:50px;
    color:white;
    font-size: 20px;
    
  }

.nav-container{
    background: cadetblue;
    height:60px;
    padding-top:15px;
}