.nav-item{
    color: #ced4da;
}
ul li{
    padding: 10px 30px;
}
.nav{
    height: 100%;
    background-color: #354052;
    
}
ul li a{
    color: #ced4da;
    text-decoration: none;
}
.nav-footer{
    background-color: #354052;
}