.card-container{
    margin:100px;

border:1px;
height:40vh;
width:80%;
border-color:blue;
 box-shadow: black;
border-width:10%;
border-radius:10px;
border-style:solid;
padding-right:10px;

}
.card-header-container{
    text-align: center;
}
h1{
    color: red;
}
h4{
    padding:10px;
}