.sidebar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    padding: 20px;
}
.router{
   padding: 0px;
}
ul{
   margin-top: -5px;
}
ul li{
   margin-right: 25px;
}
.nav-footer{
   height:20px;
   box-shadow: 0px 10px 20px 10px;
}
