<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of users" id="{{data.id}}">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td><button class="btn btn-success" (click)="gotoEdit()">Edit</button>
                <button class="btn btn-success" (click)="gotoEdit()">View</button>
            </td>
        </tr>
    </tbody>
</table>